{% extends 'base.html.twig' %}

{% block body %}

    <h1>Rossignol : Liste des références</h1>

    <table>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Label</th>
                                    <th>Refid</th>
                                    <th>Codereference</th>
                                    <th>Articleid</th>
                                    <th>Codesku</th>
                                    <th>Kititem</th>
                                    <th>Declinedproduct</th>
                                    <th>Indexindeclinedproduct</th>
                                    <th>Axe1</th>
                                    <th>Axe2</th>
                                    <th>Axe3</th>
                                    <th>Labelforurl</th>
                                    <th>Color</th>
                                    <th>Colororder</th>
                                    <th>Size</th>
                                    <th>Sizeorder</th>
                                    <th>Codeean</th>
                                    <th>Accessfilter</th>
                                    <th>Categoryid</th>
                                    <th>Category</th>
                                    <th>Producttype</th>
                                    <th>Gender</th>
                                    <th>Marketingprogram</th>
                                    <th>Position</th>
                                    <th>Season</th>
                                    <th>Openedkititem</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a>
                                        </td>
                                        <td>{{ product.label }}</td>
                                        <td>{{ product.refId }}</td>
                                        <td>{{ product.codereference }}</td>
                                        <td>{{ product.articleid }}</td>
                                        <td>{{ product.codesku }}</td>
                                        <td>{{ product.kititem }}</td>
                                        <td>{{ product.declinedproduct }}</td>
                                        <td>{{ product.indexindeclinedproduct }}</td>
                                        <td>{{ product.axe1 }}</td>
                                        <td>{{ product.axe2 }}</td>
                                        <td>{{ product.axe3 }}</td>
                                        <td>{{ product.labelforurl }}</td>
                                        <td>{{ product.color }}</td>
                                        <td>{{ product.colororder }}</td>
                                        <td>{{ product.size }}</td>
                                        <td>{{ product.sizeorder }}</td>
                                        <td>{{ product.codeean }}</td>
                                        <td>{{ product.accessfilter }}</td>
                                        <td>{{ product.categoryid }}</td>
                                        <td>{{ product.category }}</td>
                                        <td>{{ product.producttype }}</td>
                                        <td>{{ product.gender }}</td>
                                        <td>{{ product.marketingprogram }}</td>
                                        <td>{{ product.position }}</td>
                                        <td>{{ product.season }}</td>
                                        <td>{{ product.openedkititem }}</td>
                                        <td>
                                            <ul>
                                                <li>
                                                    <a href="{{ path('product_show', { 'id': product.id }) }}">show</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('product_edit', { 'id': product.id }) }}">edit</a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% if nbPages > 1 %}
                                    <ul class="pagination pagination-sm">
                                        {# `Première` page #}
                                        <li {{ thisPage == 1 ? 'class="disabled"' }}>
                                            <a href="{{ path('product_index', {page: 1 }) }}">Première</a>
                                        </li>

                                        {# `«` flèche gauche  #}
                                        <li {{ thisPage == 1 ? 'class="disabled"' }}>
                                            <a href="{{ path('product_index', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
                                        </li>

                                        {# Rendu de la pagination en fonction d'où on se trouve #}
                                        {% if thisPage < 6 %}
                                            {% for i in thisPage..thisPage + 9 %}
                                                <li {{ thisPage == i ? 'class="active"' }}>
                                                    <a href="{{ path('product_index', {page: i}) }}">{{ i }}</a>
                                                </li>
                                            {% endfor %}
                                        {% endif %}

                                        {% if thisPage >= 6 and thisPage < nbPages - 9 %}
                                            {% for i in thisPage - 5..thisPage + 5 %}
                                                <li {{ thisPage == i ? 'class="active"' }}>
                                                    <a href="{{ path('product_index', {page: i}) }}">{{ i }}</a>
                                                </li>
                                            {% endfor %}
                                        {% endif %}

                                        {% if thisPage >= nbPages - 9 %}
                                            {% for i in thisPage - 5..nbPages %}
                                                <li {{ thisPage == i ? 'class="active"' }}>
                                                    <a href="{{ path('product_index', {page: i}) }}">{{ i }}</a>
                                                </li>
                                            {% endfor %}
                                        {% endif %}

                                        {# `»` flèche droite #}
                                        <li {{ thisPage == nbPages ? 'class="disabled"' }}>
                                            <a href="{{ path('product_index', {page: thisPage+1 <= nbPages ? thisPage+1 : thisPage}) }}">»</a>
                                        </li>

                                        {# `Dernière` page #}
                                        <li {{ thisPage == nbPages ? 'class="disabled"' }}>
                                            <a href="{{ path('product_index', {page: nbPages }) }}">Dernière</a>
                                        </li>
                                    </ul>
                                {% endif %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('product_new') }}">Create a new product</a>
        </li>
    </ul>
{% endblock %}
