{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Userchangeid</th>
                <td>{{ user.userChangeId }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ user.label }}</td>
            </tr>
            <tr>
                <th>Usercreationdate</th>
                <td>{% if user.userCreationDate %}{{ user.userCreationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifdate</th>
                <td>{% if user.modifDate %}{{ user.modifDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ user.status }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Changegroups</th>
                <td>{{ user.changeGroups }}</td>
            </tr>
            <tr>
                <th>District</th>
                <td>{{ user.district }}</td>
            </tr>
            <tr>
                <th>Root</th>
                <td>{% if user.root %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
